@import "monokai.css";
@import "note.css";

.madtinker_main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        max-width: 800px;
        text-align: center;
        align-items: center;
    }

.post-content {
        font-size: 1.3em;
}

/*img {
	width:100%;
	max-width: 600px;

}*/