@import "monokai.css";
@import "note.css";

.madtinker_main {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        max-width: 800px;
        text-align: center;
        align-items: center;
    }

.post-content {
        font-size: 1.3em;
}

html {
    font-size: 1em;
}

/*img {
	width:100%;
	max-width: 600px;

}*/

figcaption {

margin-top: 20px;
margin-bottom: 10px;
font-size: .8em;
color: #999999;
border: solid 1px #999999;
max-width: 650px;
}