p {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;

}

/*@media (min-width: 768px)
.note {
    margin-left: -50px;
}*/
.note {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 30px 0;
    margin-left: -30px;
    padding: 20px 20px 24px;
    padding-left: 50px;
   /* -webkit-border-radius: 0 5px 0px 5;
    -moz-border-radius: 5 0px 5px 0;*/
    border-radius: 4px 4px 4px 4px;
    position: relative;
   /* -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.3); */
    background-color: #0199d3;
    /*background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0199d3), to(#274956));
    background-image: -webkit-linear-gradient(top, #0199d3 0%, #274956 100%);
    background-image: -moz-linear-gradient(top, #0199d3 0%, #274956 100%);
    background-image: -o-linear-gradient(top, #0199d3 0%, #274956 100%);
    background-image: linear-gradient(to bottom, #0199d3 0%, #274956 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0199d3', endColorstr='#274956',GradientType=0 );*/
}


blockquote {
    font-family: 'Montserrat', sans-serif;
    color: white;
    margin: 30px 0;
    margin-left: -30px;
    padding: 20px 20px 24px;
    padding-left: 50px;
   /* -webkit-border-radius: 0 5px 0px 5;
    -moz-border-radius: 5 0px 5px 0;*/
    border-radius: 4px 4px 4px 4px;
    position: relative;
   /* -webkit-box-shadow: 0 1px 5px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.3);
    -moz-box-shadow: 0 1px 5px rgba(0,0,0,0.3),inset 0 1px 0 rgba(255,255,255,0.2),inset 0 -1px 0 rgba(0,0,0,0.3);
    box-shadow: 0 1px 5px rgba(0,0,0,0.3), inset 0 1px 0 rgba(255,255,255,0.2), inset 0 -1px 0 rgba(0,0,0,0.3); */
    background-color: #0199d3;
    /*background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#0199d3), to(#274956));
    background-image: -webkit-linear-gradient(top, #0199d3 0%, #274956 100%);
    background-image: -moz-linear-gradient(top, #0199d3 0%, #274956 100%);
    background-image: -o-linear-gradient(top, #0199d3 0%, #274956 100%);
    background-image: linear-gradient(to bottom, #0199d3 0%, #274956 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0199d3', endColorstr='#274956',GradientType=0 );*/
}


*, *:before, *:after {
    box-sizing: inherit;
}


@media (min-width: 768px)
article {
    padding: 40px 40px 30px;
    font-size: 21px;
}


/*.note:before {
    content: "";
    position: absolute;
    top: -10px;
    left: 0;
    border-color: transparent #222 #222 transparent;
    border-style: solid;
    border-width: 5px;
    width: 0;
    height: 0;
} */


/* .note:after {
    content: '\2605';
    color: #fc0;
    position: absolute;
    top: 14px;
    left: 14px;
    font-size: 28px;
    font-weight: 700;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.5);
} */

h4 {
    font-size: 12px;
}