<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>

   <link rel="shortcut icon" href="https://www.madtinker.net/favicon.ico">
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="https://www.madtinker.net/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon-precomposed" sizes="152x152" href="https://www.madtinker.net/apple-touch-icon-152x152.png" />
  <link rel="icon" type="image/png" href="https://www.madtinker.net/favicon.gif"/>
  <link rel="icon" type="image/png" href="https://www.madtinker.net/favicon-16x16.png" sizes="16x16" />
  <meta name="description" content="Color scheme for UI design" />
  <meta name="application-name" content="Open Color" />
  <meta name="msapplication-TileColor" content="#FFFFFF" />
  <meta name="msapplication-TileImage" content="https://www.madtinker.net/mstile-144x144.png" />

 
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

  <link rel="stylesheet" type="text/css" href="https://www.madtinker.net/css/font-awesome.min.css" media="screen">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,200;1,600&display=swap" rel="stylesheet">

  <link rel="stylesheet" type="text/css" href="https://www.madtinker.net/css/normalize.css" media="screen">
  <link rel="stylesheet" type="text/css" href="https://www.madtinker.net/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://www.madtinker.net/css/main.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://www.madtinker.net/css/note.css" media="screen">

  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-165411676-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-165411676-1');
</script>

<script src="https://use.fontawesome.com/50df9c2e35.js"></script>
</head>
<body>
  <div class="navigation">
    <div class="container">
      <a class="blog-logo" href="index.html">
      <div class="navbar"></a>
        <input type="checkbox" id="navbar-toggle">
        <label for="navbar-toggle" onclick class="navbar-toggle"></label>
        <ul class="nav-menus-wrap">
 
         <li class="nav-menus-group">
          <!--  <a class="menus-title
                        ">Instructions</a>-->
            <ul class="nav-menus">
    
            </ul>
          </li>
          <li class="nav-menus-group">
            <button class="menus-title" style="font-size:14px;" type="button">Categories</button>
            <ul class="nav-menus">
              <li><a class="nav-menu" href="https://www.madtinker.net/art">Art</a></li>
              <li><a class="nav-menu" href="https://www.madtinker.net/code">Code</a></li>
               <li><a class="nav-menu" href="https://www.madtinker.net/projects">Projects</a></li>

               <li><a class="nav-menu" href="https://www.madtinker.net/video">Video</a></li>
                <li><a class="nav-menu" href="https://www.madtinker.net/design">Design</a></li>
            </ul>
          
          </li>

        </ul>
      </div>
    </div>
  </div>


  <div class="container">
      <div class="madtinker_main">
	    <a href="https://www.madtinker.net/index.html"><img src="https://www.madtinker.net/images/mad_tinker_logo_2.png"/>
 <h4>The Mad Tinker</h4></a>
            
              

      </div>

    </section>
  </div>
  <div class="container">
    <div class="row">

<article class="post">

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a> 
			<a class="anchor" href="{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
	{% else %}
		<h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
	{% endif %}


	<div class="post-content">{{ content }}</div><br/><br/><br/>


 <br/><br/><br/>
</div>
 <div>
  <hr style="width:100%; margin-top: 15px; margin-bottom: 15px;">

    <span style="text-align: center;">© 2020 Nicholas D'Angelo</span><br/> <br/>
    </div>

      <a class="madtinker_main" href="https://www.netlify.com">
    <img src="https://www.netlify.com/img/global/badges/netlify-color-bg.svg" style="width:100px; opacity: .9;" alt="Deploys by Netlify" />
  </a>
<br/> <br/>

    <div class="madtinker_main">
<a href="http://github.io"><img src="https://image-control-storage.s3.amazonaws.com/github-512.png" style="width:45px; opacity: .5;"></a>
    </div><br /><br /><br />
</body>
    
</html>
